.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.col-6 {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.abstract {
  color: green;
}
.concret {
  color: blue;
}
.hook {
  color: red;
}
.btn-state {
  background-color: green;
  color: white;
}
.btn-html {
  background-color: red;
  color: white;
}
.btn-windows {
  background-color: blue;
  color: white;
}
.btn-mac {
  background-color: green;
  color: white;
}
.checkbox-mac {
  color: green;
}
.checkbox-windows {
  color: blue;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.btn-blue {
  background-color: blue;
  color: white;
}
.btn-red {
  background-color: red;
  color: white;
}
.bg-blue {
  background-color: blue;
  color: white;
  margin: 5px;
}
.bg-red {
  background-color: red;
  color: white;
  margin: 5px;
}
.bg-green {
  background-color: green;
  color: white;
  margin: 5px;
}
.bg-purple {
  background-color: purple;
  color: white;
  margin: 5px;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.square {
  width: 100px;
  height: 100px;
}
